################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CWGenC/Debug
/.vs/CourseWork1.1/v16
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/CWGenC/.vs/CWGenC/v16/ipch/AutoPCH
/CWGenC/.vs/CWGenC/v16/TestStore/0
/CWGenC/.vs/CWGenC/v16
